<title>Cadastre-se Posto</title>

<body id="fundo">

	<div class="">

		<div>



			<svg type="button" id="btnVoltar" data-name="Group 121" xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 55.538 55.538">
				<defs>
					<clipPath id="clip-path">
						<rect id="Rectangle_108" data-name="Rectangle 108" width="55.538" height="55.538" fill="none" />
					</clipPath>
				</defs>
				<g id="Group_120" data-name="Group 120" clip-path="url(#clip-path)">
					<path id="Path_33" data-name="Path 33"
						d="M55.539,27.769A27.769,27.769,0,1,1,27.77,0,27.769,27.769,0,0,1,55.539,27.769"
						transform="translate(-0.001 0)" fill="#091a39" />
					<path id="Path_34" data-name="Path 34"
						d="M73.763,66.39,59.522,45.347,74.515,23.571H63.746L49.672,45.342,63.111,66.388Z"
						transform="translate(-37.508 -17.799)" fill="#f09f26" />
				</g>
			</svg>



		</div>


		<div>

			<img id="btnLogo" src="imagens/logo.png" width="190px" type="button">

		</div>
	</div>
	<div class="" id="telaLogin">

		<div class="card-header" id="cardhead">

			<h1 class="text-center">

				Cadastrar Posto

			</h1>



		</div>

		<div class="card-body" id="card">



			<div class="form-group">



				<div class="form-row align-items-center">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class="col-form-label">Razão Social</label>

					</div>

				</div>




				<div>

					<input type="text" class="form-control" id="" placeholder="Informe a Razão Social da empresa">

				</div>

			</div>

			<div class="form-group">

				<div class="form-row align-items-center">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class="col-form-label">CNPJ</label>

					</div>

				</div>


				<div>

					<input type="text" class="form-control" id="" placeholder="Informe o CNPJ">
					<small id="" class=""> Exemplo: 99.999.999/0001-99
					</small>

				</div>

			</div>

			<div class="form-group">

				<div class="form-row align-items-center mb-2">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class="col-form-label">Endereço Completo</label>

					</div>

				</div>


				<div>

					<input type="text" class="form-control form-group" id="" placeholder="Informe o Endereço">

				</div>

				<div>

					<input type="text" class="form-control" id="" placeholder="Complemento">

				</div>

			</div>

			<div class="form-group">

				<div class="form-row align-items-center">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class="col-form-label">Telefone</label>

					</div>

				</div>


				<div>

					<input type="text" class="form-control" id="" placeholder="Informe o Telefone">
					<small id="" class=""> Exemplo: +55 11 99999-9999
					</small>

				</div>

			</div>

			<div class="form-group">

				<div class="form-row align-items-center">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class="col-form-label">Responsável</label>

					</div>

				</div>


				<div>

					<input type="text" class="form-control" id="" placeholder="Informe o nome do Responsável">

				</div>

			</div>

			<div class="form-group">

				<div class="form-row align-items-center">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class="col-form-label">E-mail</label>

					</div>

				</div>


				<div>

					<input type="email" class="form-control" id="" placeholder="Informe o e-mail de contato da empresa">

				</div>

			</div>






			<div class="form-group">

				<div class="form-row align-items-center mb-1">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class="col-form-label">Quais os tipos de combustível são vendidos?</label>

					</div>



				</div>
				<div class="mb-3">

					<small id=""> - Nota: Assinale apenas aqueles que se aplicam:
					</small>
				</div>

				<div class="container">

					<div class="form-group">

						<div class="form-check-inline col-sm-3">

							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="G1">
								<label class="custom-control-label" for="G1">Gasolina Comum</label>
							</div>

						</div>

						<div class="form-check-inline col-sm-3">

							<div class="custom-control custom-checkbox ">
								<input type="checkbox" class="custom-control-input" id="G2">
								<label class="custom-control-label" for="G2">Gasolina Aditivada</label>
							</div>

						</div>

						<div class="form-check-inline col-sm-3">

							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="G3">
								<label class="custom-control-label" for="G3">Gasolina Premium</label>
							</div>

						</div>

					</div>

					<div class="form-group">

						<div class="form-check-inline col-sm-3">

							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="A1">
								<label class="custom-control-label" for="A1">Álcool</label>

							</div>
						</div>

						<div class="form-check-inline col-sm-3">

							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="A2">
								<label class="custom-control-label" for="A2">Álcool Aditivado</label>
							</div>

						</div>

					</div>

					<div class="form-group">

						<div class="form-check-inline col-sm-3">

							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="D1">
								<label class="custom-control-label" for="D1">Diesel S10</label>
							</div>



						</div>

						<div class="form-check-inline col-sm-3">

							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="D2">
								<label class="custom-control-label" for="D2">Diesel S500</label>
							</div>

						</div>



					</div>

				</div>

			</div>


			<div class="mb-1">
				<div class="form-row align-items-center mb-1">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class=" col-form-label">Possui caminhão próprio?</label>

					</div>

				</div>




				<select class="custom-select" id="validationDefault04" required>

					<option selected disabled value="">Escolha...</option>
					<option>SIM</option>
					<option>NÃO</option>

				</select>
			</div>

			<div class="mb-4">
				<div class="form-row align-items-center mb-1">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class="col-form-label">Caso "NÃO", convênio com quais?</label>

					</div>

				</div>
				<input type="text" class="form-control" id="" placeholder="Liste convênios e/ou preferências">
			</div>

			<div class="form-row align-items-center mb-1">

				<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

				<div class="col">

					<label class="col-form-label">Anexar os seguintes documentos:</label>

				</div>

			</div>
			<div class="custom-file" style="margin-bottom: 10px;">
				<input type="file" class="custom-file-input" id="customFile">
				<label class="custom-file-label" for="customFile" data-browse="Escolher arquivo...">Contrato
					Social</label>
			</div>

			<div class="custom-file" style="margin-bottom:35px">
				<input type="file" class="custom-file-input" id="customFile">
				<label class="custom-file-label" for="customFile" data-browse="Escolher arquivo...">Extrato
					Bancário</label>
			</div>


			<hr>

			<div class="form-group mb-4">



				<div class="form-row align-items-center">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class="col-form-label">Usuário</label>

					</div>

				</div>




				<div>


					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">@</div>
						</div>
						<input type="text" class="form-control" id="" placeholder="Informe o USUÁRIO para Login">
					</div>



				</div>

			</div>

			<div class="form-group">



				<div class="form-row align-items-center">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class="col-form-label">Senha</label>

					</div>

				</div>


				<div>

					<input type="password" class="form-control" id="" placeholder="Informe a SENHA para Login">

				</div>

			</div>

			<div class="form-group">



				<div class="form-row align-items-center">

					<img src="/imagens/triangulinho_esquerda_amarelo.png" width="20px" class="col-form-label">

					<div class="col">

						<label class="col-form-label"> Confirmar Senha</label>

					</div>

				</div>


				<div>

					<input style="margin-bottom:35px" type="password" class="form-control" id=""
						placeholder="Confirme a SENHA para Login">

				</div>
				<hr class="mb-5">
			</div>




			<div class="text-center">
				<button type="button" id="btnLeilao" class="btn btn-block btn-primary epex"><span>FINALIZAR
						CADASTRO</span></button>
			</div>


		</div>
	</div>










	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>


	<style type="text/css">
		body {

			font-size: 17px;
			font-family: "Montserrat";
			color: rgb(20, 35, 74);
			font-weight: 700;



		}

		.text-center {

			font-size: 40px;
			font-weight: 700;


		}

		.form-control::placeholder {

			font-family: 'Montserrat';
			font-size: 15px;
			font-weight: 400;

		}

		#btnVoltar {
			background-color: whitesmoke;
			margin-top: 1%;
			margin-left: 1%;


		}



		#telaLogin {

			margin-left: 15%;
			margin-right: 15%;
			margin-bottom: 3%;
		}

		#fundo {
			background-color: whitesmoke;
		}


		#card {

			background-color: whitesmoke;


		}

		#btnLogo {

			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 170px;
			margin-bottom: 2%;

		}



		#cardhead {

			background-color: whitesmoke;

		}

		#botaoFin {

			background-color: rgb(240, 159, 14);


		}
	</style>




</body>