<%- include("../navbar-posto") %>

<!--CONTEÚDO DO SITE-->

<div class="text-center mt-5 mb-4">

	<h1 class="topText">Compra finalizada com sucesso!</h1>

</div>

<div class="text-center mb-4">
	<img width="50px" src="/imagens/seta-cima.png">
</div>

<hr class="container mb-5">

<div class="mb-5 container text-center">
	<div class="row">
		<div class="col-sm-4 offset-sm-1">

			<div class="card" style="width: 20rem;">

				<img class="card-img-top" src="/imagens/postin.jpg" alt="Card image cap">

				<div class="card-body mb-0">
					<h5 class="mb-0"> #Nome Distribuidora </h5>
				</div>

				<ul class="list-group list-group-flush">
					<li class="list-group-item">Combustível: -</li>
					<li class="list-group-item">Origem: -</li>
					<li class="list-group-item">Prazo: -</li>
					<li class="list-group-item">Transporte: -</li>
					<li class="list-group-item">Qtd. Disponível: -</li>
					<li class="list-group-item">Preço: -</li>
					<li class="list-group-item">Destino: -</li>
				</ul>

			</div>

		</div>

		<div class="col-sm-4 offset-sm-2">

			<div class="card" style="width: 20rem;">

				<div class="card-body">

					<h5 class="card-title">Boleto</h5>

					<hr>

					<button type="button" id="btnLeilao" class="btn btn-primary epex mb-2"><span>GERAR BOLETO DA
							COMPRA</span></button>

				</div>

			</div>

		</div>

	</div>
</div>

<hr class="container">
