<%- include("../navbar-distribuidora") %>

<!--CONTEÚDO DO SITE-->

<div class="container mt-5">

	<h1 class="topText img mb-4">Vendas</h1>

	<div class="mb-3">
		<a href="#" class="textVendas selecionado" onclick="return selecionarRelatorio(this);">Inadimplentes</a>
		<img src="/imagens/seta-esq.png" width="7px" class="ml-1" /><img src="/imagens/seta-dir.png" width="7px"
			class="mr-1" />
		<a href="#" class="textVendas" onclick="return selecionarRelatorio(this);">Realizados</a>
		<img src="/imagens/seta-esq.png" width="7px" class="ml-1" /><img src="/imagens/seta-dir.png" width="7px"
			class="mr-1" />
		<a href="#" class="textVendas" onclick="return selecionarRelatorio(this);">Em Andamento</a>
	</div>

	<script type="text/javascript">
		function selecionarRelatorio(opcao) {
			$(opcao).parent().find(".textVendas").removeClass("selecionado");
			$(opcao).addClass("selecionado");
			return false;
		}
	</script>

	<div class="row">
		<div class="col-sm-8">
			<img width="750" src="/imagens/vendas_img.png" style="max-width: 100%;" />
		</div>

		<div class="col-sm-4">
			<img class="ml-5" src="/imagens/calendario_img.png" style="max-width: 100%;" />
		</div>
	</div>
</div>

<%- contentFor("head") %>

<style type="text/css">
	/* CSS DO CONTEÚDO AGORA*/
	.textVendas {
		font-size: 25px;
		font-weight: 500;
		color: #14234A;
		vertical-align: middle;
	}

	.selecionado {
		background-color: rgb(255, 178, 85);
		font-weight: 700;
	}
</style>