<%- include("../navbar-distribuidora") %>

<!--CONTEÚDO DO SITE-->

<div class="container mt-5">

	<h1 class="topText img">Criar Anúncio</h1>

	<div class="container">

		<hr class="mb-5 mt-4">

		<div class="row">
			<div class="col-3">
				<div class="form-group">
					<label class="m-2" for="exampleFormControlSelect1">Produto:</label>
					<select class="form-control" id="exampleFormControlSelect1">
						<option>Gasolina Comum</option>
						<option>Gasolina Aditivada</option>
						<option>Gasolina Premium</option>
						<option>Álcool</option>
						<option>Alcool Aditivado</option>
						<option>Diesel S10</option>
						<option>Diesel S500</option>
						<option>- Qualquer -</option>
					</select>
				</div>
			</div>

			<div class="col-3">
				<div class="form-group">
					<label class="m-2" for="exampleFormControlSelect3">Origem:</label>
					<select class="form-control" id="exampleFormControlSelect3">
						<option>Apenas Baguar</option>
						<option>Bombeio</option>
						<option>Importada</option>
						<option>Formulada</option>
						<option>- Qualquer -</option>
					</select>
				</div>
			</div>


			<div class="col-3">
				<div class="form-group">
					<label class="m-2" for="exampleFormControlSelect2">Prazo de Pagamento:</label>
					<select class="form-control" id="exampleFormControlSelect2">
						<option>0 dia</option>
						<option>1 dia</option>
						<option>2 dias</option>
						<option>3 dias</option>
						<option>4 dias</option>
						<option>5 dias</option>
						<option>6 dias</option>
						<option>7 dias</option>
						<option>- Qualquer -</option>

					</select>
				</div>
			</div>
		</div>



		<div class="row">
			<div class="col-3">
				<div class="form-group">
					<label class="m-2" for="exampleFormControlSelect4">Região:</label>
					<select class="form-control" id="exampleFormControlSelect4">
						<option>Região 1</option>
						<option>Região 2</option>
						<option>Região 3</option>
						<option>- Qualquer -</option>
					</select>
				</div>
			</div>
			<div class="col-3">
				<div class="form-group">
					<label class="m-2" for="exampleFormControlSelect5">Redes de Postos:</label>
					<select class="form-control" id="exampleFormControlSelect5">
						<option>-</option>
						<option>-</option>
						<option>- Qualquer -</option>
					</select>
				</div>
			</div>

		</div>

		<hr class="mt-5 mb-5">

		<div class="row">
			<div class="col-3">
				<div class="form-group">
					<label class="m-2">Variação CIF/FOB:</label>
					<div>

						<input type="text" class="form-control form-group" id="" placeholder="Variação CIF/FOB">

					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="form-group">
					<label class="m-2">Quantidade:</label>
					<div>

						<input type="text" class="form-control" id="" placeholder="Quantidade">

					</div>
					<small class="m-1">Obs.: Unidade em Litros</small>
				</div>
			</div>
			<div class="col-3">
				<div class="form-group">
					<label class="m-2">Transportadora:</label>
					<div>

						<input type="text" class="form-control form-group" id="" placeholder="Transportadora">

					</div>
				</div>
			</div>

		</div>

		<hr class="mt-4 mb-4">

		<label class="m-2">Range de Preço:</label>

		<div class="row mt-0">



			<div class="col-3">

				<div class="form-group">

					<label class="m-2" style="font-size: 13px; font-weight: 500;">Mínimo:</label>

					<div>

						<input type="text" class="form-control form-group" id="" placeholder="De (Mínimo)">

					</div>

				</div>
			</div>


			<div class="col-3">

				<div class="form-group">
					<label class="m-2" style="font-size: 13px; font-weight: 500;"> Máximo:</label>

					<div>

						<input type="text" class="form-control form-group" id="" placeholder="Até (Máximo)">

					</div>

				</div>
			</div>

		</div>



	</div>


	<div class="mb-5 container text-center">
		<div class="row">
			<div class="col-sm-4 offset-sm-1">


				<button type="button" id="btnLeilao"
					class="btn btn-primary epex btnFinCadastro"><span>LEILÃO</span></button>


			</div>
			<div class="col-sm-4 offset-sm-2">


				<button type="button" id="btnPedidos"
					class="btn btn-primary epex btnFinCadastro"><span>MARKETPLACE</span></button>


			</div>
		</div>
	</div>


</div>

<%- contentFor("head") %>

<style type="text/css">
	/* CSS DO CONTEÚDO AGORA*/

	.btnFinCadastro {

		width: 320px;
		margin-top: 70px;

	}
</style>
