<%- include("../navbar-posto") %>

<!--CONTEÚDO DO SITE-->

<div class="container">

	<%- include("cabecalho-relatorio") %>	

	<div class="container mt-5 mb-5">
		<hr class="mb-5">
		<div class="row">
			<div class="col-4">
				<div class="form-group">
					<label class="m-2" for="exampleFormControlSelect1">Combustível</label>
					<select class="form-control" id="exampleFormControlSelect1">
						<option>Gasolina Comum</option>
						<option>Gasolina Aditivada</option>
						<option>Gasolina Premium</option>
						<option>Álcool</option>
						<option>Alcool Aditivado</option>
						<option>Diesel S10</option>
						<option>Diesel S500</option>
						<option>- Qualquer -</option>
					</select>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label class="m-2" for="exampleFormControlSelect2">Prazo de Pagamento</label>
					<select class="form-control" id="exampleFormControlSelect2">
						<option>0 dia</option>
						<option>1 dia</option>
						<option>2 dias</option>
						<option>3 dias</option>
						<option>4 dias</option>
						<option>5 dias</option>
						<option>6 dias</option>
						<option>7 dias</option>
						<option>- Qualquer -</option>
	
					</select>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label class="m-2" for="exampleFormControlSelect3">Origem</label>
					<select class="form-control" id="exampleFormControlSelect3">
						<option>Apenas Baguar</option>
						<option>Bombeio</option>
						<option>Importada</option>
						<option>Formulada</option>
						<option>- Qualquer -</option>
					</select>
				</div>
			</div>
		</div>
	
	
	
		<div class="row">
			<div class="col-4">
				<div class="form-group">
					<label class="m-2" for="exampleFormControlSelect4">Transporte</label>
					<select class="form-control" id="exampleFormControlSelect4">
						<option>CIF</option>
						<option>FOB</option>
						<option>- Qualquer -</option>
					</select>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label class="m-2" for="exampleFormControlSelect5">Quantidade</label>
					<select class="form-control" id="exampleFormControlSelect5">
						<option>5</option>
						<option>10</option>
						<option>15</option>
						<option>20</option>
						<option>25</option>
						<option>30</option>
						<option>40</option>
						<option>50+</option>
						<option>- Qualquer -</option>
					</select>
					<small class="m-1">Obs.: Unidade em milhares (Litros)</small>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label for="exampleFormControlSelect6" class="m-2">Média de Preço</label>
					<select class="form-control" id="exampleFormControlSelect6">
						<option>Hoje</option>
						<option>Amanhã</option>
						<option>- Qualquer -</option>
	
					</select>
				</div>
			</div>
		</div>

		<div class="text-center mt-5 mb-5">

			<button type="button" id="btnPedidos" class="btn btn-primary epex"><span>PESQUISAR</span></button>

		</div>

		<hr class="container">

		<div class="text-center" style="margin-top: 70px;">

		<img width="900" src="/imagens/precos_img.png" style="max-width: 100%;" />

		</div>

	</div>
</div>
