<%- include("../navbar-posto") %>

<!--CONTEÚDO DO SITE-->

<div class="container mt-5">

	<div class="row">

		<div class="col-6">
			<h1 class="topText mb-5">Acompanhe as tendências do mercado de combustível de perto!</h1>

			<div class="form-row align-items-center">


				<img src="/imagens/seta-esq.png" width="25px" class="col-form-label mr-2 mt-4">

				<div>

					<h3 class="col-form-label secondText mt-4">Fique de olho nas notícias sobre o negócio.</h3>

				</div>


			</div>
		</div>



		<div class="col-lg-6">
			<img class="ml-5 mt-3" src="/imagens/calendario_img.png" style="max-width: 100%;" />
		</div>

	</div>
</div>

<!-- PARTE DAS NOTICIAS -->

<hr class="m-0 mt-4">

<div class="col corfundo p-3" style="overflow-y: scroll;">

	<div class="container noticiaMarg">

		<div class="text-center textData">

			11.12.2020

		</div>

		<button class="textTitulo btn" type="button">

			Título da Notícia

		</button>


		<div class="row">

			<div class="col-lg-4">

				<img width="300px" src="/imagens/postin.jpg">

			</div>

			<div class="col-lg-8 textDescricao">
				Aqui ficaria a sinopse da notícia, um breve resumo para ter um panorama geral do que está falando,
				e se o usuário tiver interesse, poderá clicar em "veja mais" para ler a matéria da íntegra.
				<div class="mt-5">

					<button type="button" id="btnLeilao" class="btn btn-primary epex"><span>VEJA MAIS</span></button>

				</div>
			</div>



		</div>

	</div>

	<div class="container noticiaMarg">

		<div class="text-center textData">

			09.12.2020

		</div>

		<button class="textTitulo btn" type="button">

			Título da Notícia

		</button>


		<div class="row">

			<div class="col-lg-4">

				<img width="300px" src="/imagens/bombin.jpg">

			</div>

			<div class="col-lg-8 textDescricao">
				Aqui ficaria a sinopse da notícia, um breve resumo para ter um panorama geral do que está falando,
				e se o usuário tiver interesse, poderá clicar em "veja mais" para ler a matéria da íntegra.
				<div class="mt-5">

					<button type="button" id="btnLeilao" class="btn btn-primary epex"><span>VEJA MAIS</span></button>

				</div>
			</div>

		</div>


	</div>

	<div class="container noticiaMarg">

		<div class="text-center textData">

			07.12.2020

		</div>

		<button class="textTitulo btn" type="button">

			Título da Notícia

		</button>


		<div class="row">

			<div class="col-lg-4">

				<img width="300px" src="/imagens/carrin.jpg">

			</div>

			<div class="col-lg-8 textDescricao">
				Aqui ficaria a sinopse da notícia, um breve resumo para ter um panorama geral do que está falando,
				e se o usuário tiver interesse, poderá clicar em "veja mais" para ler a matéria da íntegra.
				<div class="mt-5">

					<button type="button" id="btnLeilao" class="btn btn-primary epex"><span>VEJA MAIS</span></button>

				</div>
			</div>

		</div>

	</div>


</div>

<%- contentFor("head") %>

<style type="text/css">
	/* CSS DO CONTEÚDO AGORA*/

	.secondText {

		font-size: 22px;
		color: #14234A;
		font-weight: 600;

	}

	.corfundo {

		background-color: #e7e7e7;

	}

	.container.noticiaMarg {

		margin-bottom: 55px;

	}

	.textData {

		font-size: 20px;
		font-weight: 400;
		padding-top: 25px;
		padding-bottom: 30px;

	}

	.textTitulo {

		font-size: 30px;
		font-weight: 600;
		padding: 5px;
		margin-bottom: 15px;
		color: #14234A;

	}

	.textTitulo {
		border-bottom: 1px solid transparent;
		transition-duration: 0.2s;
		display: inline-block;
		text-decoration: none;
	}

	.textTitulo:after {

		content: "";
		display: block;
		width: 0;
		border-bottom: 2px solid #14234A;
		margin: 0 auto;
		transition: all 0.2s linear 0s;
	}

	.textTitulo:hover {

		color: #F09F0E;

	}

	.textTitulo:hover:after {

		width: 100%;

	}

	.textDescricao {

		font-size: 17px;
		font-weight: 500;

	}
</style>
