<div class="form-group">
	<img src="<%- root %>/imagens/logo.png" alt="Logo" id="imgLogo">
</div>

<div id="card">
	<div class="card-header" id="cardhead">
		<h1 class="text-center textCima">
			Escolha o tipo de cadastro que você deseja realizar:
		</h1>
	</div>

	<div id="cardbutton">
		<a id="btnPosto" href="<%- root %>/cadastro/posto" class="btn btn-primary btn-lg btn-block epex mb-5"><span>CADASTRO DE POSTOS</span></a>
		<a id="btnDistribuidora" href="<%- root %>/cadastro/distribuidor" class="btn btn-primary btn-lg btn-block epex mb-5"><span>CADASTRO DE DISTRIBUIDORAS</span></a>
	</div>
</div>

<%- contentFor("head") %>

<style type="text/css">
	body {
		font-family: 'Montserrat', sans-serif;
		background-color: rgb(20, 35, 74);
	}

	#imgLogo {

		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 170px;
		margin-top: 1%;

	}

	#card {

		background-color: whitesmoke;
		padding: 2%;
		box-shadow: 1px 2px 20px black;

	}

	.textCima {

		font-size: 32px;
		font-weight: 700;

	}

	#cardhead {
		box-shadow: 0px 0.3px 1px 0.2px;
		margin: 0px auto 4%;
		max-width: 100%;
	}

	#cardbutton {
		margin: auto;
		min-width: 300px;
		max-width: 45%;
	}
</style>
