body {
	font-family: 'Montserrat', sans-serif;

	background-color: rgb(20, 35, 74);

}

.text-center {

	font-weight: 700;
}


#btnLogo {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 170px;
	margin-top: 1.5%;

}




#card {

	background-color: whitesmoke;
	padding: 2%;
	margin-left: %;
	margin-right: %;
	box-shadow: 1px 2px 20px black;

}

#btnPosto {

	box-shadow: 0px 0.5px 6px 0.5px black;
	margin-bottom: 2%;
	margin-top: 1%
}

#btnDistribuidora {

	box-shadow: 0px 0.5px 6px 0.5px black;
	margin-bottom: 2.6%;
	margin-top: 0.6%
}

#formgroup {

	margin-top: 1.7%;

}

#cardhead {
	box-shadow: 0px 0.3px 1px 0.2px;
	margin-bottom: 3%;


}
