<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("cabecalho-publico") %>

	<%- defineContent("head") %>

	<link rel="stylesheet" href="<%- root %>/css/botao.css" />
</head>
<body>

	<%- body %>

</body>
</html>
