<style type="text/css">
	#navTop {
		font-size: 15px;
	}
</style>

<!--HEADER / NAVBAR-->

<nav id="navTop" class="navbar navbar-expand-md navbar-dark">


	<img id="btnLogo" class="navbar-brand mr-0" href="#" src="/imagens/logo.png" width="140px" type="button">


	<button class="navbar-toggler" type="button" style="background-color:#F09F0e" data-toggle="collapse"
		data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
		aria-label="Toggle navigation">
		<i class="fa fa-bars" style="font-size:30px;color:white"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav m-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/homeposto">HOME</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/distribuidora/relatorios">RELATÓRIOS</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link text-nowrap" href="/distribuidora/vendas">VENDAS</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/distribuidora/abertura">ABERTURA DE CRÉDITO</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/distribuidora/cadastro">CADASTRO DE COMBUSTÍVEL</a>
			</li>
		</ul>
		<form class="form-inline mt-2 mt-md-0">


			<button class="btn">

				<i class="fa fa-search" style="font-size:30px;color:white"></i>

			</button>


			<div class="dropdown ml-3">

				<button class="btn btn-default" type="button" id="menu1" data-toggle="dropdown">
					<i class="fa fa-bars" style="font-size:30px;color:#F09F0E"></i> <span class="caret"></span>
				</button>
				<ul id="btnCaixa" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
					<li role="presentation"><a role="menuitem" id="btnContas" tabindex="-1" href="#">Filtros</a>
					</li>
					<li role="presentation"><a role="menuitem" id="btnMPedidos" tabindex="-1" href="#">Pedidos</a>
					</li>
					<li role="presentation"><a role="menuitem" id="btnAbertura" tabindex="-1" href="#">Meus Dados</a>
					</li>
					<li role="presentation"><a role="menuitem" id="btnConfiguracoes" tabindex="-1"
							href="#">Configurações</a></li>
					<hr class="bg-light">
					<li role="presentation"><a role="menuitem" id="btnSair" tabindex="-1" href="#">Sair</a></li>
				</ul>
			</div>

		</form>
	</div>
</nav>
