#telaLogin {

	margin-left: 15%;
	margin-right: 15%;
	display: block;
	position: ;
	margin-bottom: ;
}

#fundo {
	background-color: whitesmoke;
}

#imgLogo {




	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 12%;
	margin-top: 1%;
	margin-bottom: -0.5%;

}

#card {

	background-color: whitesmoke;

	/*	background-color: rgb(240, 159, 14)*/
}


body {

	font-size: 17px;
	font-family: "Montserrat";
	color: rgb(20, 35, 74);



}


#cardhead {

	background-color: whitesmoke;
}

#botaoFin {

	margin-top: 1%;
	display: block;
	width: 70%;
	background-color: #f09f0e;
	margin-left: auto;
	margin-right: auto;
	position: ;



}

#texthead {
	color: black;
}

#EsqSenha {
	font-size: 11px;
	margin-left: 0.5%;
}
